  # -------- Deploy to Server via SSH --------
  deploy:
    runs-on: ubuntu-latest
    needs: docker
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            echo "Removing old latest image..."
            docker rmi -f ${{ secrets.DOCKER_USERNAME }}/nodeapp:latest || true

            echo "Pulling latest image..."
            docker pull ${{ secrets.DOCKER_USERNAME }}/nodeapp:latest

            echo "Stopping old container..."
            docker stop nodeapp || true
            docker rm nodeapp || true

            echo "Starting new container..."
            docker run -d -p 80:3000 --name nodeapp ${{ secrets.DOCKER_USERNAME }}/nodeapp:latest
